################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Droid/bin/Debug
/Droid/obj/Debug
/Droid/.DS_Store
/GettingStartedKanban/bin/Debug
/GettingStartedKanban/obj/Debug
/GettingStartedKanban/.DS_Store
/GettingStartedKanban.UWP/obj/x86/Debug
/GettingStartedKanban.UWP/.DS_Store
/iOS/obj/iPhoneSimulator/Debug
/iOS/.DS_Store
/packages
/GettingStartedKanban.userprefs
/patch_libs
/GettingStartedKanban.UWP/bin/x86/Debug
/CustomKanban/bin/Debug
/CustomKanban/obj/Debug
/CustomKanban.iOS/obj
/CustomKanban.UWP/obj/x86/Debug
/CustomKanban.UWP/bin/x86/Debug
/GettingStarted/Droid/bin/Debug
/GettingStarted/Droid/obj/Debug
/GettingStarted/GettingStartedKanban/bin/Debug
/GettingStarted/GettingStartedKanban/obj/Debug
/GettingStarted/GettingStartedKanban.UWP/bin/x86/Debug
/GettingStarted/GettingStartedKanban.UWP/obj/x86/Debug
/GettingStarted/iOS/obj/iPhoneSimulator/Debug
/GettingStarted/packages
/CustomKanban.iOS/bin/iPhoneSimulator/Debug
