<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Prism.Core" version="6.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Syncfusion.Xamarin.SfKanban" version="15.1.0.41" targetFramework="portable45-net45+win8+wp8" />
  <package id="Wibcisoft.Xamarin.Forms.Converters" version="1.0.2" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.8.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Forms" version="2.3.4.231" targetFramework="portable45-net45+win8+wp8" />
</packages>